<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Cliente Fiel</name>

  <description>
      Aplicativo para o Restaurante Boi na Brasa
  </description>

  <author href="https://www.jhinformatica.com.br" email="jhony@rg.com.br">
      Jhonny Gonçalves Costa
  </author>

</widget>